<configuration debug="false">
    <!--Configure the standard out appender used to print the Grakn logo-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO"/>

    <logger name="migrate.export" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>